@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);

html {
	font-size: 14px;
}

body {
	background-color: #25a0da;
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	background-image: url('../imgs/bedge-grunge.png');
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.container, .header, .header-text, .header-sub-text,
.header-button-container, .header-button, .content {
	display: flex;
}

.container, .header, .content {
	flex-direction: column;
}

.container {
	margin: 0 auto;
	padding: 10px;
	width: 80%;
	height: 100vh;
	background-color: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.49);
	box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.49);
	transition: 0.3s;
}

.header {
	position: relative;
	width: 100%;
	height: 275px;
	background-image: url('../imgs/OBI cover photo for Justin.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.header-text {
	height: 110px;
	padding-left: 15%;
	padding-top: 5px;
	color: #25a0da;
	font-size: 64px;
	font-weight: 700;
}

.header-sub-text {
	height: 100px;
	padding-left: 50%;
	font-size: 48px;
	font-weight: 600;
}

.header-button-container {
	flex-direction: row;
	width: auto;
	padding: 5px 20px;
	background-color: rgba(214, 214, 214, 0.5);
	transition: 0.3s;
}

.header-button-container:hover {
	background-color: rgba(214, 214, 214, 1);
}

.header-button {
	flex: 1;
	padding: 10px 20px 5px 20px;
	box-sizing: border-box;
	text-align: center;
	background-color: #25a0da;
	color: #fff;
	cursor: pointer;
	border: 1px solid #25a0da;
	font-size: 1.071429rem;
	z-index: 1;
	margin: 10px;
}

.section-button-container {
	position: relative;
}

.content {
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
}

.inner-content {
	min-height: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	transition: 0.5s;
}

.hvr-sweep-to-bottom {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.active {
	color: #25a0da;
}
.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.resume-section-header {
	background-color: #25a0da;
	color: #fff;
	padding: 4px;
	padding-left: 8px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
	border: 1px solid #25a0da;
}

.resume-section-header:hover {
	background-color: #fff;
	color: #25a0da;
}

.resume-section-content {

}
